
<div xmlns="http://www.w3.org/1999/html">
  <p>Welcome, <h5><%= @user.email %></h5></br>
    Here you can <%= link_to "Edit your profile", edit_user_registration_path(current_user), :class => "custom-link" %></p>
</div>

